@charset "UTF-8";
.post .contact li {
  padding: 0; }

.post .contact input {
  margin: 0; }

.post .contact textarea {
  margin: 14px 0 0; }

.post .contact label {
  padding: 16px 0 4px; }

#comments span {
  padding: 35px 0 50px; }

#content {
  _margin: 0; }

#sidebar {
  _margin: 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  background-color: transparent; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: transparent; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

/* =============================================================================
   Core Typography
========================================================================== */
/* ==========================================================================
   Common Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

p {
  margin: 0; }

p + p {
  margin-top: 1em; }

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3em; }

.date {
  font-weight: bold;
  color: #999; }

.date::before {
  content: '—';
  margin: 0 .5em; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

::-webkit-scrollbar {
  display: none; }

html {
  height: 100%;
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  /* EDIT: new syntax for FF 15+ */
  -ms-font-feature-settings: "liga";
  -o-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga"; }

body {
  font-family: Arial, serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.7em; }

.max_width, .inner_header_container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; }

img {
  width: 100%; }

select {
  margin: 0; }

a {
  text-decoration: none;
  color: #2a477c; }

a:hover {
  color: #000; }

hr {
  margin-top: 35px;
  border: 0;
  border-top: 1px solid #ccc;
  color: #fff;
  clear: both; }

#wrapper {
  margin: 0;
  position: fixed;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

#header_wrapper {
  background: #f7f7f7;
  margin: 0px auto 0px;
  margin-bottom: 5em; }

#header {
  margin: 0px auto;
  position: relative;
  padding: 1.2em 2em .8em; }

.header {
  border-bottom: 1px solid #eee; }

.inner_header_container {
  position: relative; }

#logo {
  width: 100%; }

.srl {
  width: 11.5em;
  float: left;
  position: absolute; }

.eth {
  width: 8em;
  float: right; }

#logo a {
  color: #2a477c;
  font-size: 52px;
  font-weight: 600;
  text-decoration: none;
  border-bottom: none;
  letter-spacing: -4px;
  background-color: #fff;
  font-style: italic;
  background: transparent; }

#logo h2 {
  font-size: 12px;
  font-weight: bold;
  padding: 12px 4px 0 0;
  color: #2a477c;
  text-transform: uppercase; }

#nav {
  margin: .7em 2em .8em;
  padding: 0; }

#nav.nav_top {
  margin: 1.5em 0 .2em 0;
  float: right; }

#nav li {
  text-align: center;
  float: left;
  display: inline;
  width: auto; }

#nav li a {
  font-size: 1em;
  font-weight: 400;
  display: block;
  border-bottom: none;
  padding-top: 5px;
  padding-right: 20px; }

#nav li:last-of-type a {
  padding-right: 0px; }

#nav li a:hover {
  background-color: #f7f7f7; }

#content {
  float: left;
  padding: 0 2em 30px;
  min-height: 420px;
  overflow: hidden; }

.section {
  margin-bottom: 4em; }

.copy_block {
  margin-bottom: 2em; }

#content p {
  text-align: justify; }

.post {
  padding: 0; }

.post p {
  margin: 0; }

.post p + p {
  margin-top: .5em; }

.post em {
  font-style: italic; }

.post h2 {
  font-size: 20px;
  margin: 25px 0 .9em 0;
  font-weight: normal; }

.post h1 {
  font-size: 28px;
  margin: 30px 0 10px 0;
  font-weight: normal;
  line-height: 32px; }

.post h4 {
  font-size: 16px;
  margin: 15px 0 10px 0;
  font-weight: normal; }

.post h4 {
  font-size: 14px; }

.post .indent {
  padding-left: 10px; }

.post .indent p {
  padding-left: 10px; }

.post small {
  font-size: 11px; }

.post small a {
  font-weight: normal; }

.post .alignright {
  float: right;
  margin-left: 10px; }

.post .alignleft {
  float: left;
  margin-right: 10px; }

.post .aligncenter {
  margin: 0 auto;
  display: block; }

.post abbr {
  font-weight: normal; }

.post ul {
  list-style: circle;
  margin: 0 0 0 25px; }

.post ol {
  list-style: decimal;
  margin: 0 0 0 30px; }

.post .wp-caption {
  background: #f7f7f7;
  border: 1px solid #ccc;
  margin: 10px;
  text-align: center;
  padding: 5px 0 0; }

.post .wp-caption-text {
  margin: 0; }

.post .wp-caption a, .post .wp-caption a:hover {
  border-bottom: 0; }

.post blockquote {
  color: #777;
  border-left: 5px solid #ccc;
  margin: 15px 30px 0 10px;
  padding-left: 20px; }

.post pre {
  font-family: courier;
  font-size: 12px;
  letter-spacing: -1px;
  margin: 14px 0 14px 0; }

.post .message ul {
  margin: 12px 0 0; }

.post .message {
  display: none;
  background: #0F67A1;
  margin-top: 10px;
  padding: 20px;
  color: #fff; }

.profile {
  width: 25%;
  float: left; }

.profile img {
  float: left; }

.profile dl dt {
  float: left;
  font-weight: bold; }

.profile dl dd {
  padding-left: 80px; }

.button {
  display: inline-block;
  /* background: #333; */
  padding: .3em 1em .3em;
  margin-top: 1em;
  background: #333;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 2px;
  font-size: .9em; }

.button:hover {
  background: black;
  color: white; }

.pdf-load {
  width: 2em; }

.google-doc, .linux-doc {
  width: 4em; }

#footer {
  font-size: 1em;
  float: left;
  /*text-align:center;*/
  padding: 30px 2em 20px;
  width: 100%; }

.footer_internal_container {
  border-top: 1px solid #ccc;
  width: 100%;
  padding-top: 20px; }

table {
  font-size: 13px;
  position: relative;
  margin-top: 18px;
  margin-bottom: 18px; }

th, td {
  line-height: 18px;
  padding-top: 9px;
  padding-bottom: 8px;
  position: relative;
  vertical-align: middle; }

th {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  font-weight: bold; }

th:first-child, td:first-child {
  padding-left: 3px; }

th:last-child, td:last-child {
  padding-right: 3px; }

tr:nth-child(odd) td {
  background: #f6f6f6; }

.bottom_fixed_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid  #eee;
  background: #f7f7f7;
  width: 100%; }

.workshop #header {
  height: 230px;
  padding-top: 80px; }

.workshop #logo {
  width: 700px; }

.workshop #logo h1 a {
  color: #FFF;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 1.15em;
  padding: 0;
  background: none;
  text-shadow: 1px 2px #000; }

.workshop #logo h2 {
  color: #EEE;
  font-size: 22px;
  font-weight: normal;
  text-shadow: 1px 1px #333; }

.workshop #header_img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  width: 100%;
  border-bottom: 10px solid #000;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.workshop #eth_logo {
  top: 40px;
  right: 00px; }

.workshop #content {
  padding-top: 15px; }

.workshop #content h2 {
  font-size: 28px;
  padding-top: 30px; }

.workshop #sidebar {
  margin-top: 50px;
  position: relative;
  height: 200px; }

.workshop #sidebar .block {
  position: absolute;
  top: 0px; }

.workshop #sidebar .block.sticky {
  position: fixed; }

.workshop .talk {
  color: #2a477c;
  font-weight: bold; }

.workshop .talk:hover {
  cursor: pointer; }

.tooltipsy {
  padding: 20px;
  max-width: 400px;
  color: #FFF;
  background: #2a477c;
  margin-top: 10px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

.tooltipsy:before {
  content: "";
  display: block;
  position: absolute;
  left: 43%;
  top: 4px;
  width: 11px;
  height: 6px;
  background: url("../images/tooltip-pointer.png") no-repeat 0 0; }

@media (max-width: 1023px) {
  .workshop #logo h1 a {
    font-size: 36px; }

  .workshop #logo h2 {
    font-size: 18px; }

  .workshop #logo {
    width: 500px; }

  .workshop #header {
    height: 150px;
    padding-top: 50px; }

  .workshop #header_img {
    height: 220px; }

  .workshop #content h2 {
    font-size: 24px;
    padding-top: 30px; } }
.introtext {
  font-size: 15px;
  line-height: 1.6em; }

h2 sup {
  vertical-align: super;
  font-size: 10px; }

.close_news {
  position: absolute;
  top: .3em;
  right: 0px;
  width: 1.1em; }

#button, #close {
  cursor: pointer; }

#button {
  position: absolute;
  top: 0;
  right: 0; }

.button_style {
  padding: .25em .7em;
  /* background: #e6e6e6; */
  border: 2px solid #e6e6e6;
  border-radius: 2px; }

#sidebar {
  margin: 0 0 2em 0;
  background: white; }
  #sidebar .block {
    position: relative;
    padding: 0 2em; }
    #sidebar .block .header {
      padding: 1.5em 1em 2em 1em; }

#sidebar .block ul {
  /*border-bottom:1px solid #ccc;*/ }

#sidebar .block ul .children {
  border: 0;
  padding: 0 0 0 8px; }

#sidebar .block li {
  padding: 0; }

#sidebar .block li:first-of-type a {
  border-top: none;
  padding-top: 0; }

#sidebar .block li a {
  /*background:transparent url(../images/bullet_black.gif) no-repeat scroll 6px 10px;*/
  font-size: 13px;
  font-weight: normal;
  padding: 1.2em 0px;
  display: block;
  border-bottom: none;
  line-height: 1.4;
  border-top: 1px solid #ccc; }

#sidebar .block li a:hover {
  /*background:#f7f7f7 url(../images/bullet_yellow.png) no-repeat scroll 6px 10px;*/ }

#sidebar .widget_search label {
  display: block;
  padding: 25px 0 3px 0;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  margin: 0 0 5px; }

#sidebar .widget_recent_comments li {
  background: transparent url(images/bullet_black.gif) no-repeat scroll 6px 52%;
  padding: 2px 0 2px 15px; }

#sidebar .widget_recent_comments li a, #sidebar .widget_recent_comments li a:hover {
  background: none;
  border-bottom: 1px solid #000;
  text-decoration: none;
  color: #000;
  font-weight: 600; }

#sidebar .widget_recent_comments li a:hover {
  color: #e12000;
  border-bottom: 1px dashed #e12000;
  background-color: #f7f7f7; }

#sidebar .widget_tag_cloud h3 {
  margin: 0 0 8px;
  border-bottom: 1px solid #ccc; }

#sidebar .widget_text h3, #sidebar .calendar h3 {
  border-bottom: 1px solid #ccc; }

#sidebar .calendar h3 {
  display: none; }

#sidebar #wp-calendar {
  width: 95%;
  text-align: center; }

#sidebar #wp-calendar caption, #sidebar #wp-calendar td, #sidebar #wp-calendar th {
  text-align: center; }

#sidebar #wp-calendar caption {
  font-size: 18px;
  padding: 25px 0 3px 0; }

#sidebar #wp-calendar th {
  font-weight: bold;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

#sidebar #wp-calendar tfoot td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

@media only screen and (min-width: 40em) {
  #sidebar .block {
    padding: 0 1.5em; } }
.profile {
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 2em;
  margin-bottom: 2em;
  padding: .75em;
  background: #f2f2f2; }
  .profile img {
    margin-bottom: 1em; }

.profile_internal {
  float: left; }
  .profile_internal h3 {
    margin-bottom: 0;
    font-size: 1em;
    line-height: 1.2; }
  .profile_internal .subtitle {
    font-size: .8em; }
  .profile_internal .button {
    margin-top: 1em;
    background: #333;
    color: white;
    border: none; }

.selectindicator {
  padding: .5em 1em;
  background: #e6e6e6;
  border-radius: 1px;
  margin-top: 2em;
  font-weight: 700;
  font-size: .8em; }

@media screen and (max-width: 600px) {
  #grid[data-columns]::before {
    content: '2 .column.size-1of2'; }

  .people_page > :nth-of-type(1) {
    padding-right: 0.9em; }

  .people_page > :nth-of-type(2) {
    padding-left: 0.9em; } }
@media screen and (min-width: 601px) and (max-width: 999px) {
  #grid[data-columns]::before {
    content: '3 .column.size-1of3'; }

  .people_page > :nth-of-type(1) {
    padding-right: 1.5em; }

  .people_page > :nth-of-type(2) {
    padding-left: 0.75em;
    padding-right: 0.75em; }

  .people_page > :nth-of-type(3) {
    padding-left: 1.5em; } }
@media screen and (min-width: 1000px) {
  #grid[data-columns]::before {
    content: '4 .column.size-1of4'; }

  .people_page > :nth-of-type(1) {
    padding-right: 2.4375em; }

  .people_page > :nth-of-type(2) {
    padding-left: 0.8125em;
    padding-right: 1.625em; }

  .people_page > :nth-of-type(3) {
    padding-left: 1.625em;
    padding-right: 0.8125em; }

  .people_page > :nth-of-type(4) {
    padding-left: 2.4375em; }

  .profile_internal h3 {
    font-size: 1.1em; }
  .profile_internal .subtitle {
    font-size: .9em; } }
/* Again, you're free to use and define the classes: */
.column {
  float: left; }

.size-1of1 {
  width: 100%; }

.size-1of2 {
  width: 50%; }

.size-1of3 {
  width: 33.333%; }

.size-1of4 {
  width: 25%; }

/* Also, don't forget to add this: */
[data-columns]::before {
  position: absolute;
  right: 9999em;
  bottom: 9999em;
  visibility: hidden; }

.project {
  margin-bottom: 2em;
  padding: .75em;
  background: #f2f2f2; }

@media screen and (max-width: 600px) {
  #gridb[data-columns]::before {
    content: '1 .column.size-1of1'; } }
@media screen and (min-width: 601px) {
  #gridb[data-columns]::before {
    content: '2 .column.size-1of2'; }

  .project_page > :nth-of-type(1) {
    padding-right: 0.9em; }

  .project_page > :nth-of-type(2) {
    padding-left: 0.9em; } }
/* Again, you're free to use and define the classes: */
.column {
  float: left; }

.size-1of1 {
  width: 100%; }

.size-1of2 {
  width: 50%; }

.size-1of3 {
  width: 33.333%; }

.size-1of4 {
  width: 25%; }

/* Also, don't forget to add this: */
[data-columns]::before {
  position: absolute;
  right: 9999em;
  bottom: 9999em;
  visibility: hidden; }

#nav ul {
  display: none; }

@media only screen and (min-width: 40em) {
  .eth {
    display: block; }

  #content {
    width: 70%; }

  #sidebar {
    float: right;
    width: 30%; } }
@media only screen and (min-width: 50em) {
  #content {
    width: 75%; }

  #sidebar {
    width: 25%; } }
@media only screen and (min-width: 58em) {
  .srl {
    width: 14.9em;
    margin-top: -.1em; }

  .eth {
    width: 13em; }

  #header {
    padding: 1.8em 2em .5em; }

  .close_news, #button, #nav select {
    display: none; }

  #nav ul {
    display: block; }

  #nav ul {
    display: block; }

  #nav select, .close_news, #button {
    display: none; } }
@media only screen and (min-width: 65em) {
  #nav li a {
    font-size: 1.1em; } }
