.profile {
	width:100%;
	float: left;
	position: relative;
	img {
		margin-bottom: 1em;
	}
	margin-bottom: 2em;
	margin-bottom: 2em;
	padding: .75em;
background: hsl(0,0%,95%)
}

.profile_internal {
	float:left;
	h3 {margin-bottom: 0; font-size:1em; line-height:1.2}
	.subtitle {font-size: .8em;}
	.button {
		margin-top: 1em;
		background: #333;
		color: white;
		border: none;
	}
}

.selectindicator {
	padding: .5em 1em;
	background: hsl(0,0%,90%);
	border-radius: 1px;
	margin-top: 2em;
	font-weight: 700;
	font-size: .8em;
}




@media screen and (max-width: 600px){
	$gutter: .9em;

	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}

	.people_page > :nth-of-type(1) {
		padding-right: $gutter;
	}

	.people_page > :nth-of-type(2) {
		padding-left: $gutter;
	}
}
@media screen  and (min-width: 601px) and (max-width: 999px){
	$gutter: 1.5em;

	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}

	.people_page > :nth-of-type(1) {
		padding-right: $gutter;
	}

	.people_page > :nth-of-type(2) {
		padding-left: $gutter / 2;
		padding-right: $gutter / 2;
	}

	.people_page > :nth-of-type(3) {
		padding-left: $gutter;
	}

}



@media screen and (min-width: 1000px) {
	$gutter: 3.25em;

	#grid[data-columns]::before {
		content: '4 .column.size-1of4';
	}

	.people_page > :nth-of-type(1) {
		padding-right: $gutter / 4 * 3;
	}

	.people_page > :nth-of-type(2) {
		padding-left: $gutter / 4;
		padding-right: $gutter / 2;
	}

	.people_page > :nth-of-type(3) {
		padding-left: $gutter / 2;
		padding-right: $gutter / 4;
	}

	.people_page > :nth-of-type(4) {
		padding-left: $gutter / 4 * 3;
	}

	.profile_internal {
	h3 {font-size:1.1em; }
	.subtitle {font-size: .9em;}
	}
}

/* Again, you're free to use and define the classes: */
.column { float: left; }

.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
.size-1of4 { width: 25%; }


/* Also, don't forget to add this: */
[data-columns]::before {
    position: absolute;
    right: 9999em;
    bottom: 9999em;
    visibility: hidden;
}


