.project {
margin-bottom: 4em;

}

@media screen and (max-width: 600px){

	#gridb[data-columns]::before {
		content: '1 .column.size-1of1';
	}

}

@media screen and (min-width: 601px) and (max-width: 1200px){
	$gutter: .9em;

	#gridb[data-columns]::before {
		content: '2 .column.size-1of2';
	}

	.project_page > :nth-of-type(1) {
		padding-right: $gutter;
	}

	.project_page > :nth-of-type(2) {
		padding-left: $gutter;
	}
}

@media screen  and (min-width: 1201px) {
	$gutter: 1.5em;

	#gridb[data-columns]::before {
		content: '3 .column.size-1of3';
	}

	.project_page > :nth-of-type(1) {
		padding-right: $gutter;
	}

	.project_page > :nth-of-type(2) {
		padding-left: $gutter / 2;
		padding-right: $gutter / 2;
	}

	.project_page > :nth-of-type(3) {
		padding-left: $gutter;
	}

}


/* Again, you're free to use and define the classes: */
.column { float: left; }

.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
.size-1of4 { width: 25%; }


/* Also, don't forget to add this: */
[data-columns]::before {
    position: absolute;
    right: 9999em;
    bottom: 9999em;
    visibility: hidden;
}
