#nav ul {
  display: none;
}

@media only screen and (min-width: 40em) {




	.eth { display: block; }

	#wrapper, .bottom_fixed_footer {
	}

	#content {
	width: 70%;
	}

	#sidebar  {
	float: right;
	width: 30%;
	}


}

@media only screen and (min-width: 50em) {


	#content {
	width: 75%;
	}

  	#sidebar  {
	width: 25%;
	}
}

@media only screen and (min-width: 58em) {

	.srl {width: 14.9em;
		margin-top: -.1em;}
	.eth {width: 13em; }
	#header {

		padding:1.8em 2em .5em;
	}

		.close_news, #button,  #nav select { display: none; }

	#nav ul{ display: block; }

  #nav ul{ display: block; }
  #nav select, .close_news, #button { display: none; }
}

@media only screen and (min-width: 65em) {

#nav li a {
font-size:1.1em;
}
}
